/* Home.css */
.adminDash p {
  font-size: 30px;
  padding: 70px;
}

.adminDash button {
  margin-left: 70px;
  padding: 10px;
  background-color: #000c66;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.adminDash img {
  width: 600px;
  height: 600px;
}

@media (max-width: 768px) {
  .adminDash {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .adminDash button {
    padding: 10px;
    background-color: #000c66;
    color: white;
    border-radius: 5px;
    cursor: pointer;
  }

  .adminDash img {
    width: 500px;
    height: 500px;
  }

  .adminDash > div {
    text-align: center;
  }

  .adminDash button {
    margin-left: 0;
  }
}

@media only screen and (max-width: 400px) {
  .dashboard {
    width: 100%;
    height: 100%;
  }

  .adminDash p {
    font-size: 20px;
    padding: 50px;
  }

  .adminDash button {
    padding: 8px;
    background-color: #000c66;
    color: white;
    border-radius: 5px;
    cursor: pointer;
  }

  .adminDash img {
    width: 360px;
    height: 360px;
  }

  .adminDash button {
    margin-left: 0;
  }
}
